<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tiancaiq.cohortdesk.mapper.EmpMapper">

    <select id="selectByQuery" parameterType="com.github.tiancaiq.cohortdesk.model.dto.EmpQueryParam"
            resultType="com.github.tiancaiq.cohortdesk.model.Emp">

        SELECT
        e.*,
        d.name AS deptName
        FROM emp AS e
        LEFT JOIN dept AS d ON e.dept_id = d.id
        <where>
            <if test="name != null and name != ''">
                AND e.name LIKE CONCAT('%', #{name}, '%')
            </if>

            <if test="gender != null">
                AND e.gender = #{gender}
            </if>

            <if test="begin != null">
                AND e.entry_date &gt;= #{begin}
            </if>

            <if test="end != null">
                AND e.entry_date &lt;= #{end}
            </if>
        </where>

        ORDER BY CONVERT( deptName USING gbk ) ASC , CONVERT( e.name USING gbk ) ASC, e.id ASC

    </select>

    <delete id="deleteBatch">

        DELETE FROM emp
        WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>

    <update id="updateById">

        update emp
        <set>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="job != null">job = #{job},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="entryDate != null">entry_date = #{entryDate},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}

    </update>

    <select id="countEmpJobData" resultType="com.github.tiancaiq.cohortdesk.model.vo.JobCountVO">

        SELECT
            ( CASE
                when job = 1 then 'Cohort Lead'
                when job = 2 then 'Instructor'
                when job = 3 then 'Student Affairs Manager'
                when job = 4 then 'Curriculum Manager'
                when job = 5 then 'Advisor'
                when job IS NULL then 'Unassigned Role'
                else 'Other' end ) AS job,
            count( 0 ) AS count
        FROM emp
        GROUP BY job
        ORDER BY count ASC, job ASC

    </select>

    <select id="countEmpGenderData" resultType="com.github.tiancaiq.cohortdesk.model.vo.OptionVO">

        SELECT
            ( CASE gender when 1 then 'Male'
            when 2 then 'Female'
            else 'Other' end ) AS name,
            count( 0 ) AS value
        FROM emp
        GROUP BY gender
        ORDER BY value ASC, gender ASC

    </select>

</mapper>